/* Reset de estilos para garantir consistência entre navegadores */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Estilo básico para o corpo do aplicativo */
  body {
    font-family: Arial, sans-serif;
    background-color: #35698b;
  }
  
  /* Estilo para o contêiner principal do aplicativo */
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilo para o contêiner interno do aplicativo */
  .content-container {
    text-align: center;
  }
  
  /* Estilo para o título do aplicativo */
  .heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  

  